jobs:
- job: iOSDeployment
  pool:
    vmImage: 'macOS-latest'
  steps:
  - task: JavaToolInstaller@1
    displayName: 'Use Java 11'
    inputs:
      versionSpec: '11'
      jdkArchitectureOption: 'x64'
      jdkSourceOption: 'PreInstalled'

  - task: InstallAppleCertificate@2
    displayName: 'Install P12 Certificate'
    inputs:
      certSecureFile: 'developerTDW.p12'
      certPwd: '$(P12password)'
    
  - task: InstallAppleProvisioningProfile@1
    displayName: 'Install provisioning profile'
    inputs:
      provProfileSecureFile: 'ab1f5f68-553f-4e74-bd21-e6d152b104e2.mobileprovision'

  - task: FlutterInstall@0
    displayName: 'Flutter Install'
    inputs:
      mode: 'auto'
      channel: 'stable'
      version: 'custom'
      customVersion: '3.24.5'

  - task: FlutterCommand@0
    displayName: 'Flutter Clean'
    inputs:
      projectDirectory: '.'
      arguments: 'clean'
  - task: FlutterCommand@0
    displayName: 'Flutter Pub Get'
    inputs:
      projectDirectory: '.'
      arguments: 'pub get'
  
  - task: CocoaPods@0
    inputs:
      workingDirectory: '$(Build.SourcesDirectory)/ios/Flutter'
      forceRepoUpdate: false
  - task: Bash@3
    displayName: '[Flutter] Configure Flutter'
    inputs:
      targetType: 'inline'
      script: |
        $(FlutterToolPath)/flutter doctor -v
        $(FlutterToolPath)/flutter config --no-analytics
  - task: FlutterBuild@0
    inputs:
      target: 'ios'
      projectDirectory: '.'
      buildFlavour: 'Staging'
      buildNumber: '$(Build.BuildNumber)'
      entryPoint: 'lib/main.dart'
      iosCodesign: false
  - task: Bash@3
    inputs:
      targetType: 'inline'
      script: |
        # Write your commands here
        
        echo $APPLE_CERTIFICATE_SIGNING_IDENTITY
        echo $APPLE_PROV_PROFILE_UUID
  - task: Xcode@5
    displayName: 'Xcode build staging'
    inputs:
      actions: 'build'
      sdk: 'iphoneos'
      xcWorkspacePath: './ios/Runner.xcworkspace'
      scheme: 'Staging'
      packageApp: true
      archivePath: ./build/ios/iphoneos/Runner.xcarchive
      exportPath: ./build/ios/iphoneos/Runner.ipa
      exportOptions: plist
      exportOptionsPlist: ./ios/ExportOptions.plist
      signingOption: 'manual'
      signingIdentity: $APPLE_CERTIFICATE_SIGNING_IDENTITY
      provisioningProfileUuid: $APPLE_PROV_PROFILE_UUID

  - task: CopyFiles@2
    displayName: 'Copy Files'
    inputs:
      SourceFolder: '.'
      Contents: '**/*.ipa'
      TargetFolder: '$(Build.ArtifactStagingDirectory)'

  - task: PublishBuildArtifacts@1
    displayName: 'Publish Staging Artifact'
    inputs:
      PathtoPublish: '$(Build.ArtifactStagingDirectory)'
      ArtifactName: 'ios ipa'
      publishLocation: 'Container'